.idea/*
*.iml
out/
*.class
*.sample
hooks/*
objects/*
refs/*
HEAD
description
config
.log
target/
.classpath
.project
BUILD.sh
CONFIG.sh
RUN.sh
TEST.sh
Eclipse
dependency-reduced-pom.xml
lib/*
info/*
Test.bat